

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Validación de cuenta</title>
</head>
<body>
<section class="header-container">
  <div class="logo-container">
    <a class="home-link" href="#">
      <img src="" alt="logo" class="logo">
    </a>
    <a class="home-link" href="#">
      <div class="texto-logo">
        <h1 style="color: #e8da5e; margin-bottom: 0;">EscapeXperience</h1>
      </div>
    </a>
  </div>
</section>

<section class="main-container" style="text-align: center; padding-top: 50px; padding-bottom: 50px; background-color: #487d76; color: white;">
  <h1 style="font-size: 30px;">¡Su reserva ha sido realizada correctamente!</h1>
</section>

<section class="book-container" style="background-color: white; border-radius: 10px; color: #4b4452; text-align: center; margin: 20px; padding: 20px;">
  <h2 style="font-size: 20px;">A continuación podrá visualizar todo el detalle de su reserva</h2>
  <hr style="width: 90vw; height: 4px; background-color: #e8da5e; margin-bottom: 20px; border: none;">
  <div>
    <strong>Aventura:</strong> <span id="aventura"></span>
  </div>
  <div>
    <strong>Precio: $</strong> <span id="precio"></span>
  </div>
  <div>
    <strong>Cantidad de personas:</strong> <span id="cantidadPersonas"></span>
  </div>
  <div>
    <strong>Día que realizará la actividad:</strong> <span id="fechaInicioAventura"></span>
  </div>
  <div>
    <strong>Ubicacion:</strong> <span id="ubicacion"></span>
  </div>
  <div class="bold">
    Datos del titular de la reserva
  </div>
  <div>
    <strong>Nombre:</strong> <span id="usuarioNombre"></span>
  </div>
  <div>
    <strong>Apellido:</strong> <span id="usuarioApellido"></span>
  </div>
  <div>
    <strong>Operador:</strong> <span id="operador"></span>
  </div>
  <div>
    <strong>Fecha de la reserva:</strong> <span id="fechaReserva"></span>
  </div>

  <div>
    <strong>Fecha de la reserva de la aventura:</strong> <span id="fechaReservaAventura"></span>
  </div>

  <div>
    <strong>Politicas:</strong> <span id="politicas"></span>
  </div>


</section>

<h2 style="color: #487d76; text-align: center;">¡Muchas gracias por elegirnos!</h2>

</body>
</html>
